#mindmap i {
    font-size: 3em;
}

#mindmap tspan {
    fill: black;
}

#mindmap .Director tspan,
#mindmap .SilverDirector tspan,
#mindmap .GoldenDirector tspan,
#mindmap .EmeraldDirector tspan,
#mindmap .DiamondDirector tspan {
    fill: black;
}

#mindmap .Master tspan,
#mindmap .SilverMaster tspan,
#mindmap .DoubleSilverMaster tspan,
#mindmap .GoldenMaster tspan,
#mindmap .PlatinumMaster tspan {
    fill: black;
}

#mindmap .Consumer i,
#mindmap .PremiumConsumer i,
#mindmap .JuniorAssistant i,
#mindmap .Assistant i {
    font-size: 1em;
}

#mindmap .Director i,
#mindmap .SilverDirector i,
#mindmap .GoldenDirector i,
#mindmap .EmeraldDirector i,
#mindmap .DiamondDirector i {
    font-size: 2.5em;
}

#mindmap .Master i,
#mindmap .SilverMaster i,
#mindmap .DoubleSilverMaster i,
#mindmap .GoldenMaster i,
#mindmap .PlatinumMaster i {
    font-size: 3.5em;
}

#mindmap .section-root {
    fill: black;
}

#mindmap .section-root tspan {
    fill: white;
}

#mindmap {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
    fill: #333;
}

#mindmap .edge {
    stroke: #888;
    fill: none;
    stroke-width: 3;
}

#mindmap .error-icon {
    fill: #552222;
}

#mindmap .error-text {
    fill: #552222;
    stroke: #552222;
}

#mindmap .edge-thickness-normal {
    stroke-width: 2px;
}

#mindmap .edge-thickness-thick {
    stroke-width: 3.5px;
}

#mindmap .edge-pattern-solid {
    stroke-dasharray: 0;
}

#mindmap .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#mindmap .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#mindmap .marker {
    fill: #333333;
    stroke: #333333;
}

#mindmap .marker.cross {
    stroke: #333333;
}

#mindmap svg {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
}

#mindmap .disabled,
#mindmap .disabled circle,
#mindmap .disabled text {
    fill: lightgray;
}

#mindmap .disabled text {
    fill: #efefef;
}

#mindmap .icon-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#mindmap .mindmap-node-label {
    dy: 1em;
    alignment-baseline: middle;
    text-anchor: middle;
    dominant-baseline: middle;
    text-align: center;
}

#mindmap :root {
    --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}