body {
    background-color: #EEE;
    color: #444;
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    color: #444;
}

.errorMessage {
    color: red;
}

form input[type=number] {
    width: 5em;
}

form div {
    padding: 0.1em;
}


body {
    display: flex;
    flex-direction: column;
}

#orgchart {
    flex-grow: 1;
}

#mapIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 10em; /* Size of the icon */
    height: 10em;
    cursor: pointer;
    z-index: 1000;
    border: 1px solid gray;
    background-color: #EEE;
}

#mapIcon svg {
    width: 100%;
    height: 100%;
}
#mapDialog svg {
    width: 100%;
    height: 90%;
}

#mapIcon #iconOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent; /* Invisible but clickable */
    z-index: 10; /* Ensure it's above the SVG */
}

#mapDialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 90%;
    background-color: #EEE;
}

#mapDialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

#mapCloseButton {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 1.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #444;
        color: #EEE
    }
    a {
        color: #999;
    }
    #mapIcon {
        background-color: #444;
    }
    #mapDialog {
        background-color: #444;
    }
    
}