body {
    background-color: var(--light_bodyBg-color);
    color: var(--light_body-color);
    margin: 0;
    padding: 10;

}
.pageContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    display: flex;
    width: 100%;
    gap: 1em;
}

.pageHeader .headerSettings {
    margin-right: auto;
}

#mapIcon {
    position: relative;
    aspect-ratio: 1;
    width: 10em;
    height: 10em;
}

#orgchart {
    overflow: scroll;
}


a {
    color: var(--light_body-color);
}

.errorMessage {
    color: red;
}

input[type=number] {
    width: 5em;
}


#mapIcon {
    cursor: pointer;
    border: 1px solid gray;
    background-color: var(--light_bodyBg-color);
}

#mapIcon svg {
    width: 100%;
    height: 100%;
}
#mapDialog svg {
    width: 100%;
    height: 90%;
}

#mapIcon #iconOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent; /* Invisible but clickable */
    z-index: 10; /* Ensure it's above the SVG */
}

#mapDialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 90%;
    background-color: var(--light_bodyBg-color);
}

#mapDialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

#mapCloseButton {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 1.5em;
}

.reportRetrieval {
    display: flex;
    gap: 1em;
}

.reportRetrieval > * {
    border: var(--light_body-color) solid 1px;
    padding: 0.2em;
}

.coralLoginForm {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.coralLoginForm:last-child {
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark_bodyBg-color);
        color: var(--dark_body-color);
    }
    a {
        color: #999;
    }
    #mapIcon {
        background-color: var(--dark_bodyBg-color);
    }
    #mapDialog {
        background-color: var(--dark_bodyBg-color);
    }
    
}