#navTree {
    --_levelPadding: 1.5rem;

    div {
        padding-left: calc( var(--_depth) * var(--_levelPadding));
    }

    div:before {
        font-family: 'FontAwesome';
        content: '\f0d7';
        margin: 0 5px 0 -15px;
        color: #f00;
    }


    div.wrapped:before {
        content: '\f0da';
    }

    div[data-has-children='false']:before {
        content: '-';
    }

    .wrapped>* {
        display: none;
        /* animation: disappear 0.3s; */
    }

    div.hoveredParent {
        color: coral;
        position: sticky;
        top: calc(var(--_depth) * 1rem);
        background-color: var(--bodyBg-color);
    }

    div:not(:has(div)):hover {
        color: lime;
    }
}

@keyframes disappear {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0.1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}